@import '../../assets/styles/space.less';

.dashboard {
  aside {
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px #f0f1f2;
    @media (min-width: 400px) {
      padding: @base-content-padding;
    }

  }

  main {
    min-height: 100vh;

  }

  header {
    background-color: #FFFFFF;
    box-shadow: 0 2px 8px #f0f1f2;
  }
}