.auth-create-account{
  // Styles in here
  .business-type-option {
    box-shadow: 0 2px 8px #f0f1f2;
    & .ant-radio-wrapper .ant-typography {
      display: inline;
      word-wrap: break-word;
    }
  }
}